<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Login Webpage | {% block title %}{% endblock %}</title>
    <style>
        * {
            font-family: "Fredoka", sans-serif;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container my-5">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
</body>

</html>